<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Flatsch.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <Flatsch.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="IsSoundEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="ShowFish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowWindowTime" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="FadeInAnimTime" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HideWindowTime" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="NotificationText" serializeAs="String">
                <value>👀</value>
            </setting>
            <setting name="NotificationTextFontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NotificationTextMarginTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Screen" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SpanAcrossAllScreens" serializeAs="String">
                <value>False</value>
            </setting>
        </Flatsch.Settings>
    </userSettings>
</configuration>